.font-h1 {
  font-family: "Poppins", "Sans-serif";
  font-weight: 700;
}

.font-h2-l {
  font-family: "Poppins", "Sans-serif";
  font-weight: 400;
  font-size: 20px;
}

.font-h2-b {
  font-family: "Poppins", "Sans-serif";
  font-weight: 500;
}

.font-h2-b-r {
  font-family: Roboto, "Sans-serif";
}

.font-h3-l {
  font-family: "Poppins", "Sans-serif";
  font-weight: 400;
  font-size: 18px;
}

.font-h3-b {
  font-family: "Poppins", "Sans-serif";
  font-weight: 700;
}

.font-h3-b-r {
  font-family: Roboto, "Sans-serif";
  font-weight: 600;
}

.font-h4-l {
  font-family: Roboto, "Sans-serif";
  font-weight: 400;
}

.font-p {
  font-family: "Poppins", "Sans-serif";
  font-weight: 400;
}

.font-p-r {
  font-family: Roboto, "Sans-serif";
  font-weight: 400;
}

.font-a-l {
  font-family: "Sans-serif";
  font-weight: 500;
}

.font-a-b {
  font-family: "Poppins", "Sans-serif";
  font-weight: 700;
  font-size: 15px;
}

.font-button {
  font-family: Roboto, Arial;
  font-weight: 400;
  font-size: 20px;
}
